html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 3rem;
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}
body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.quoted-switch a { 
      background-color: #fafafa;
      padding: 0 4px 2px 4px;
      border-left: 2px solid rgb(55, 113, 200);
      font-weight: bold;
      font-size: 115%;
      &:hover {
          text-decoration: none;
      }   
  }
  .quoted-text {
      border-left: 2px solid rgb(55, 113, 200);
      padding-left: 0.2em;
  }
