{% load i18n %}
{% load staticfiles %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="ROBOTS" content="INDEX, FOLLOW" />
    <link rel="shortcut icon" href="{% static 'hyperkitty/img/favicon.ico' %}" />
    <title>{% block head_title %}{{ site_name }}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'hyperkitty/libs/fonts/font-awesome/css/font-awesome.min.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'hyperkitty/libs/css/bootstrap.min.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'hyperkitty/style.css' %}" />
    {% block additional_stylesheets %} {% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">Pure Archiver</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          {% if 'postorius' in INSTALLED_APPS %}
          {% if mlist %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'list_summary' mlist.list_id %}">
              {% trans 'Manage this list' %}
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'list_index' %}">
              {% trans 'Manage lists' %}
            </a>
          </li>
          {% endif %}
          {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ user.username|truncatechars:"35" }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'mm_user_profile' %}">
              {% trans 'Account' %}</a>
              {% if 'postorius' in INSTALLED_APPS %}
              <a class="dropdown-item" href="{% url 'ps_user_profile' %}">
                {% trans 'Mailman settings' %}
              </a>
              {% endif %}
              <a class="dropdown-item" href="{% url 'hk_user_profile' %}">
                {% trans 'Posting activity' %}
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url LOGOUT_URL %}?next={% url 'hk_root' %}">
                {% trans "Logout" %}
              </a>
            </div>
          </li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url LOGIN_URL %}?next={{next|default:request.path|urlencode}}">
              {% trans "Sign In" %}
          </a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}?next={{next|default:request.path|urlencode}}">
              {% trans "Sign Up" %}
          </a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
      {% if messages %}
      <div class="flashmsgs">
      {% for msg in messages %}
          <div class="flashmsg-wrapper">
              <!--<div class="alert alert-{{ msg.level_tag }} {{ msg.extra_tags }}">-->
              <div class="alert alert-{{ msg.tags }}
                  {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                  ">
                  {% else %}
                  alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {% endif %}
              {{ msg }}
              </div>
          </div>
      {% endfor %}
      </div>
      {% endif %}
      <div>
        {% block content %}{% endblock %}
      </div> 
    </main>
    <footer class="footer">
      <div class="container">
        <p class="text-muted text-center">
          Powered by Pure Archiver version DEVELOPMENT.
        </p>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'hyperkitty/libs/js/bootstrap.bundle.min.js' %}"></script>
    {% block additionaljs %} {% endblock %}
  </body>
</html>