{% extends "hyperkitty/base.html" %}
{% load i18n %}
{% load hk_generic %}
{% load pagination %}
{% load staticfiles %}


{% block head_title %}
{% trans 'Available lists' %} - {{ block.super }}
{% endblock %}

{% block content %}
<section>
    <h1>{% trans 'Available lists' %}</h1>
    <div class="row mb-3">
        <div class="col-md-3">
            <form method="get" action="">
                <input name="name" type="text" class="form-control" id="focusedInput"
                       placeholder="{% trans 'Find list' %}"
                       />
            </form>
        </div>
    </div>
    <div class="row lists hidden-tn hidden-xs">
        <div class="col-sm-12">
            {% if all_lists %}
            <div class="list-group">
              {% for mlist in all_lists %}
              <div class="card">
                <div class="card-body row">
                  <div class="col-md-4">
                     <a class="card-title" href="{% url 'hk_list_overview' mlist_fqdn=mlist.name %}">
                         {% if mlist.display_name %}
                             {{ mlist.display_name }}
                         {% else %}
                             {{ mlist.name|until:"@" }}
                         {% endif %}
                     </a>
                    <h6 class="card-subtitle mt-1 text-muted">
                        {{ mlist.name }}
                    </h6>
                  </div>
                   <div class="col">
                    {{ mlist.description|default_if_none:"" }}
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            {% else %}
            <p>{% trans "No archived list yet." %}</p>
            {% endif %}
        </div>
    </div>
</section>
{% if paginated %}
<section>
    <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
</section>
{% endif %}
{% endblock %}