{% extends "hyperkitty/base.html" %}
{% load i18n %}
{% load hk_generic %}


{% block head_title %}
{{ message.subject|strip_subject:mlist }} - {{ mlist.display_name|default:mlist.name }} - {{ block.super }}
{% endblock %}

{% block content %}
<section>
    <nav aria-label="breadcrumb" class="d-none d-md-block">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ message.mailinglist.get_absolute_url }}">{{ message.mailinglist.list_id }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ message.subject|strip_subject:mlist }}</li>
      </ol>
    </nav>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ message.subject|strip_subject:mlist }}</h5>
            <h6 class="card-subtitle text-muted">                    {{message.sender_name|default:message.sender.address|escapeemail}} - {{ message.date }}</h6>
            <div class="d-md-none">
                <a href="#" class="btn btn-danger">Action</a>
            </div>
            <p class="card-text">
                {{ message.content|snip_quoted|snip_pgp|urlizetrunc:76|escapeemaillinks|linebreaks }}
            </p>

            <hr>
            {% if user.is_authenticated %}
            <a class="card-link reply" data-toggle="collapse" href="#replyForm" role="button" aria-expanded="false" aria-controls="replyForm">
                <i class="fa fa-reply"></i>
                {% trans "Reply" %}
            </a>
            {% else %}
            <a class="card-link reply reply-mailto" title="{% trans "Sign in to reply online" %}"
               href="mailto:{{ message.mailinglist.name }}?Subject={{ message.subject|reply_subject|urlencode }}&amp;In-Reply-To=&lt;{{ message.message_id|urlencode }}&gt;">
                <i class="fa fa-reply"></i>
                {% trans "Reply" %}
            </a>
            {% endif %}
            <a class="card-link" href="{% url 'hk_message_delete' mlist_fqdn=mlist.name message_id_hash=message.message_id_hash %}"
                  >
                  <i class="fa fa-fw fa-trash"></i>
              {% trans "Delete this message" %}</a>
            <a class="card-link" href="{% url 'hk_thread' threadid=message.thread.thread_id mlist_fqdn=mlist.name %}#{{message.message_id_hash}}">
                <i class="fa fa-fw fa-comments"></i>
                <span class="hidden-tn hidden-xs">{% trans "Back to the thread" %}</span>
            </a>
            <a class="card-link"  href="{% url 'hk_list_overview' mlist_fqdn=mlist.name %}">
                <i class="fa fa-fw fa-envelope-o"></i>
                {% trans "Back to the list" %}
            </a>
        </div>
    </div>
        <div class="email-info">
        <!-- Attachments -->
        {% if not unfolded and message.attachments.count %}
        <div class="attachments dropdown">
            <a class="attachments" data-toggle="dropdown" href="#">
                {% blocktrans count attachments=message.attachments.count %}
                {{ message.attachments.count }} attachment
                {% plural %}
                {{ message.attachments.count }} attachments
                {% endblocktrans %}
                <span class="caret"></span>
            </a>
            <ul class="attachments-list list-unstyled dropdown-menu">
            {% for attachment in message.attachments.all %}
                <li><a href="{% url 'hk_message_attachment' mlist_fqdn=message.mailinglist.name message_id_hash=message.message_id_hash counter=attachment.counter filename=attachment.name %}"
                        title="{{attachment.content_type|escape}}, {{attachment.size|filesizeformat}}"
                        >{{attachment.name}}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        <!-- Reply form -->
        {% if user.is_authenticated %}
        <div class="collapse mt-3" id="replyForm">
            <div class="card">
                <div class="card-body">
                <form method="post" enctype="multipart/form-data"
                      action="{% url 'hk_message_reply' mlist_fqdn=message.mailinglist.name message_id_hash=message.message_id_hash %}">
                    {% csrf_token %}
                    <ul class="list-inline reply-tools">
                        <li><a class="btn btn-sm btn-default quote" href="#">{% trans "Quote" %}</a></li>
                        <li class="checkbox"><label>{{ reply_form.newthread }} {% trans "Create new thread" %}</label></li>
                        <li><a class="btn btn-sm btn-default reply-mailto"
                           href="mailto:{{ message.mailinglist.name }}?Subject={{ message.subject|reply_subject|urlencode }}&amp;In-Reply-To=&lt;{{ message.message_id|urlencode }}&gt;"
                           >{% trans 'Use email software' %}</a></li>
                    </ul>
                    {{ reply_form.non_field_errors }}

                    <p class="new-subject">{{ reply_form.subject }} {{ reply_form.subject.errors}}</p>
                    <p class="message-text">{{ reply_form.message }} {{ reply_form.message.errors}}</p>

                    {% include "hyperkitty/fragments/send_as.html" with form=reply_form %}
                    <hr>
                        <button type="submit" class="submit btn btn-primary">{% trans "Send" %}</button>
                        {% trans "or" %} <a class="card-link" data-toggle="collapse" href="#replyForm" role="button" aria-expanded="false" aria-controls="replyForm">{% trans "Cancel" %}</a>
                </form>
            </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}
