{% extends "hyperkitty/base.html" %}

{% load i18n %}
{% load hk_generic %}
{% load staticfiles %}


{% block head_title %}
{{ mlist.display_name|default:mlist.name }} - {{ block.super }}
{% endblock %}


{% block content %}
<section>
    <h1>
        {% if mlist.display_name %}
            {{ mlist.display_name|title }}
        {% else %}
            {{ mlist.name }}
        {% endif %}
    </h1>
    <p id="description">{{ mlist.description|default_if_none:"" }}</p>
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{% url "hk_message_new" mlist_fqdn=mlist.name %}"
            class="btn btn-secondary{% if not user.is_authenticated %} disabled" title="{% trans 'You must be logged-in to create a thread.' %}{% endif %}">
            Start a New thread
        </a>
        {% if 'postorius' in INSTALLED_APPS %}
        <!-- Subscription -->
        <a class="btn btn-secondary" href="{% url 'list_summary' mlist.list_id %}">
          <i class="fa fa-inbox"></i>
          <span class="hidden-tn hidden-xs">Manage subscription</a>
        {% endif %}
    </div>
    {% if user.is_authenticated and posts %}
    <section class="mt-3">
        <h3>{% trans "Your posts" %}</h3>
        <div>
        </div>
    </section>
    {% endif %}
    <section class="mt-3">
        <h3>{% trans 'Recent Posts' %}</h3>
        <div class="list-group">
            {% for email in recent_posts %}
            <a class="list-group-item list-group-item-action" href="{{ email.get_absolute_url }}" title="{{ email.subject }}">{{ email.subject|strip_subject:mlist }}</a>
            {% endfor %}
        </div>
    </section>
</section>
{% endblock %}
