{% extends "hyperkitty/base.html" %}
{% load i18n %}
{% load hk_generic %}
{% load pagination %}


{% block head_title %}
{{ list_title }} - {{ mlist.display_name|default:mlist.name }} - {{ block.super }}
{% endblock %}

{% block content %}

<div class="row">

{% include 'hyperkitty/fragments/month_list.html' %}

    <div id="thread-list" class="col-sm-10">

        <div class="thread-list-header row">
            <h1 class="col-tn-12">
                <a href="{% url 'hk_list_overview' mlist_fqdn=mlist.name %}"
                   class="list-name">
                    {% if mlist.display_name %}
                        {{ mlist.display_name }}
                    {% else %}
                        {{ mlist.name|until:"@" }}
                    {% endif %}
                </a>
                <small class="hidden-tn hidden-xs">{{ list_title }}</small>
                <div class="hidden-sm hidden-md hidden-lg">
                    {% include 'hyperkitty/fragments/month_list.html' with show_select='True' %}
                </div>
            </h1>
            <span class="list-address col-tn-12">{{ mlist.name }}</span>
            <ul class="list-unstyled list-stats thread-list-info col-tn-6 col-xs-8">
                <li>
                    <i class="fa fa-comment"></i>
                    {{ threads.paginator.count }} {% trans "discussions" %}
                </li>
            </ul>
            <div class="thread-new right col-tn-6 col-xs-4" {% if not user.is_authenticated %}title="{% trans 'You must be logged-in to create a thread.' %}"{% endif %}>
                <a href="{% url "hk_message_new" mlist_fqdn=mlist.name %}"
                    class="btn btn-default{% if not user.is_authenticated %} disabled{% endif %}">
                    <i class="fa fa-plus"></i>
                    Start a new thread
                    </a>
            </div>
        </div>
        <div class="list-group">
            {% for thread in threads %}
            <a class="list-group-item list-group-item-action" href="{% url 'hk_thread' threadid=thread.thread_id mlist_fqdn=mlist.name %}">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{ thread.subject|strip_subject:mlist }}</h5>
                </div>
                  
                <p class="mb-1">{{ thread.starting_email.sender }} - <small>{{ thread.starting_email.date }}</small></p>

            </a>
            {% empty %}
            <div class="list-group-item">
                {% trans "Sorry no email threads could be found" %} {{ no_results_text }}.
            </div>
            {% endfor %}
        </div>
        {% paginator threads bydate=True %}

    </div>

</div>

{% endblock %}

{% block additionaljs %}
<script>
$(document).ready(function() {    
    // onchange event for month_list select (seen only in tiny/xs viewports)
    // only add this event listener if the element exists
    if ($('select#months-list').length > 0) {
        var months = {
            'January' : '1',
            'February' : '2',
            'March' : '3',
            'April' : '4',
            'May' : '5',
            'June' : '6',
            'July' : '7',
            'August' : '8',
            'September' : '9',
            'October' : '10',
            'November' : '11',
            'December' : '12',
        }
        $('select#months-list').change(function() {
            var date = $(this).val().split(' ');
            var url = "{% url 'hk_archives_with_month' year=9999 mlist_fqdn=mlist.name month=0 %}";
            url = url.replace('0', months[date[0]]);
            url = url.replace('9999', date[1]);
            window.parent.location.href = url;
        });
    }

});
</script>
{% endblock %}
