{% extends "hyperkitty/base.html" %}

{% load i18n %}
{% load hk_generic %}
{% load staticfiles %}


{% block head_title %}
{{ subject }} - {{ mlist.display_name|default:mlist.name }} - {{ block.super }}
{% endblock %}

{% block content %}
<div data-spy="scroll" data-target="#thread-nav" style="position: relative;">
  <div class="row">
    <div class="col-md-3" style="position: fixed;left: 20px;">
      <div id="thread-nav" class="list-group">
        <a class="list-group-item list-group-item-action" href="#email-0">{{subject|truncatechars:35}}</a>
        {% for email in replies %}
        <a class="list-group-item list-group-item-action" href="#email-{{forloop.counter}}">{{email.subject|strip_subject:mlist|truncatechars:35}}</a>
        {% endfor %}
      </div>
    </div>
    <div id="email-0" class="col-md-9 offset-md-3">
      <div>
        <h3>{{ subject }}</h3>
      <!-- main section, the email thread -->
      <p class="sort-mode">
        {% if sort_mode == "date" %}
        <a href="{% url 'hk_thread' threadid=thread.thread_id mlist_fqdn=mlist.name %}?sort=thread">{% trans "Show replies by thread" %}</a>
        {% else %}
        <a href="{% url 'hk_thread' threadid=thread.thread_id mlist_fqdn=mlist.name %}?sort=date">{% trans "Show replies by date" %}</a>
        {% endif %}
      </p>
      <div class="card mb-3">
        <div class="card-body">     <!-- Start first email -->
          {{starting_email.sender_name|default:starting_email.sender.address|escapeemail}} - {{ starting_email.date }}
          <div class="messagelink float-right">
            <span class="fa fa-font cursor-pointer toggle-font"
                  title="{% trans "Display in fixed font" %}"
                  data-toggle="tooltip" data-placement="bottom"></span>
            <a href="{% url 'hk_message_index' mlist_fqdn=starting_email.mailinglist.name message_id_hash=starting_email.message_id_hash %}"
               title="{% trans "Permalink for this message" %}"
               data-toggle="tooltip" data-placement="bottom"><i class="fa fa-link"></i></a>
          </div>
          <hr>
          {{ starting_email.content|snip_quoted|snip_pgp|urlizetrunc:76|escapeemaillinks|linebreaks }}
        </div>
      </div>
      {% for email in replies %}

      <div class="card mb-3">
        <div class="card-header" id="email-{{forloop.counter}}">
          {{email.sender_name|default:email.sender.address|escapeemail}} - {{ email.date }}
        </div>
        <div class="card-body" id="thread-email-{{ forloop.counter }}">
          <div class="messagelink float-right">
            <span class="fa fa-font cursor-pointer toggle-font"
                  title="{% trans "Display in fixed font" %}"
                  data-toggle="tooltip" data-placement="bottom"></span>
            <a href="{% url 'hk_message_index' mlist_fqdn=email.mailinglist.name message_id_hash=email.message_id_hash %}"
               title="{% trans "Permalink for this message" %}"
               data-toggle="tooltip" data-placement="bottom"><i class="fa fa-link"></i></a>
          </div>
          {{ email.content|snip_pgp|urlizetrunc:76|escapeemaillinks|linebreaks }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>
{% endblock %}