{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load bootstrap_tags %}
{% load static %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block additional_stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'hyperkitty/login.css' %}">
{% endblock %}

{% block content %}
<div class="form-signin">
  <form method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <h1 class="h3 mb-3 font-weight-normal">{% trans 'Please sign in' %}</h1>
    <div class="form-group">
      <label for="{{ form.login.id_for_label }}" class="sr-only">Email address</label>
      {{ form.login|add_class:"form-control" }}
    </div>
    <div class="form-group">
      <label for="{{ form.password.id_for_label}}" class="sr-only">Password</label>
      {{ form.password|add_class:"form-control" }}
    </div>
    <div class="form-group">
      <div class="checkbox mb-3">
        <label>
          {{ form.remember }}
          Remember me
        </label>
      </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  </form>
  {% get_providers as socialaccount_providers %}

  {% if socialaccount_providers %}
  <p>{% trans 'Or use a social account' %}</p>

  <div class="socialaccount_ballot">

    <ul class="socialaccount_providers list-inline">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    {% include "django_mailman3/login_extra_post_providers.html" %}
  </div>


  {% else %}
  <p>{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
  {% endif %}
</div>

{% endblock %}
