{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup form-horizontal" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  {% for field in form %}
    <div class="form-group col-md-6">
      <label for="{{ field.id_for_label}}" class="sr-only">{{ field.label }}</label>
      {{ field|add_class:"form-control" }}
    </div>
  {% endfor %}
  <div class="form-group col-md-6">
      <button class="btn btn-primary" type="submit">{% trans "Sign Up" %}</button>
  </div>
</form>

{% endblock %}
