{% load i18n %}
{% load hk_generic %}
{% load cache %}

<!-- right column -->
<section id="thread-overview-info">

    <p class="list-name">
        <a href="{% url 'hk_list_overview' mlist_fqdn=mlist.name %}">
            {{ mlist.name }}
        </a>
    </p>

    {% if user.is_staff or user.is_superuser %}
    <div class="panel panel-danger">
        <div class="panel-body">
            <div><i class="fa fa-fw fa-plug"></i>
               <a href="{% url 'hk_thread_reattach' mlist_fqdn=mlist.name threadid=thread.thread_id %}"
                  >{% trans "Reattach this thread" %}</a>
            </div>
            <div><i class="fa fa-fw fa-trash"></i>
               <a href="{% url 'hk_thread_delete' mlist_fqdn=mlist.name threadid=thread.thread_id %}"
                  >{% trans "Delete this thread" %}</a>
            </div>
        </div>
    </div>
    {% endif %}
</section>
