{% load i18n %}
{% load hk_generic %}

        {% with starting_email=thread.starting_email %}
        <div class="thread">

        <div class="thread-info">
                <div class="thread-email row">
                        <div class="col-sm-1 sender">
                            {{ starting_email.sender.address }}
                        </div>
                        <div class="col-md-7">
                            <span class="thread-title">
                            <a name="{{thread.thread_id}}"
                                    href="{% url 'hk_thread' threadid=thread.thread_id mlist_fqdn=mlist.name %}"
                                    >
                                    {{ starting_email.subject|strip_subject:mlist }}
                            </a>
                            </span>
                            <div>
                                {% blocktrans with name=thread.starting_email.sender_name|default:thread.starting_email.sender.address|escapeemail %}
                                    by {{ name }}
                                {% endblocktrans %}
                            </div>
                        </div>
                </div>
        </div>
</div>
{% endwith %}
