{% extends "django_mailman3/profile/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap_tags %}


{% block user_profile_content %}
    <form method="post" action="{% url 'mm_user_profile' %}">
        {% csrf_token %}
        <div class="col-md-10">
            {% bootstrap_form_horizontal form 3 9 fold_class='sm' %}
            <div class="form-group">
                <label class="col-sm-3 control-label">{% trans 'Main email:' %}</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{ user.email}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{% trans 'Other emails:' %}</label>
                <div class="col-sm-9">
                        <ul class="form-control-static list-unstyled">
                        {% for address in other_addresses %}
                            <li>{{ address }}</li>
                        {% empty %}
                            <li>{% trans "(no other email)" %}</li>
                        {% endfor %}
                            <li>
                                <i class="fa fa-link" aria-hidden="true"></i>
                                <a href="{% url 'account_email' %}">
                                    {% trans "Link another address" %}
                                </a>
                            </li>
                        </ul>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{% trans 'Joined on:' %}</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{ user.date_joined|date:"N j Y, H:i" }}</p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="submit btn btn-primary">{% trans "Update" %}</button>
                {% trans "or" %} <a href="#" class="cancel" onclick="document.forms[0].reset(); return false;">{% trans "Cancel" %}</a>
                </div>
            </div>

        </div>
    </form>

{% endblock %}
