{% load i18n %}
{% load hk_generic %}
{% load tz %}
<div class="email{% if unfolded %} email-first{% endif %}">

    <div id="{{email.message_id_hash}}" class="email-header">
        <div class="gravatar-wrapper">
            <div class="email-author">
                <span class="name">
                    {{email.sender_name|default:email.sender.address|escapeemail}}
                </span>
            </div>
        </div>
        <div class="email-date right">
            {% ifchanged %}
            <span class="date hidden-tn">
                {{email.date}}
            </span>
            {% endifchanged %}
        </div>
        <div class="messagelink float-right">
            <span class="fa fa-font cursor-pointer toggle-font"
                  title="{% trans "Display in fixed font" %}"
                  data-toggle="tooltip" data-placement="bottom"></span>
            <a href="{% url 'hk_message_index' mlist_fqdn=email.mailinglist.name message_id_hash=email.message_id_hash %}"
               title="{% trans "Permalink for this message" %}"
               data-toggle="tooltip" data-placement="bottom"><i class="fa fa-link"></i></a>
        </div>

        {% if email.changed_subject %}
        <div class="subject">
            New subject: {{ email.changed_subject }}
        </div>
        {% endif %}

    </div> <!-- /email-header: gravatar, author-info, date, peramlink, changed_subject -->

    <div class="email-body {% if email.display_fixed %}fixed{% endif %}">
        {{ email.content|snip_quoted|snip_pgp|urlizetrunc:76|escapeemaillinks|linebreaks }}
    </div>

    {% if unfolded and email.attachments.count %}
    <div class="attachments">
        <p class="attachments">{% trans "Attachments:" %}</p>
        <ul class="attachments-list list-unstyled">
        {% for attachment in email.attachments.all %}
            <li><a href="{% url 'hk_message_attachment' mlist_fqdn=email.mailinglist.name message_id_hash=email.message_id_hash counter=attachment.counter filename=attachment.name %}">{{attachment.name}}</a>
                ({{attachment.content_type}} &mdash; {{attachment.size|filesizeformat}})
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="email-info">
        <!-- Reply link -->
        {% if user.is_authenticated %}
        <a class="reply" href="#">
            <i class="fa fa-reply"></i>
            {% trans "Reply" %}
        </a>
        {% else %}
        <a class="reply reply-mailto" title="{% trans "Sign in to reply online" %}"
           href="mailto:{{ email.mailinglist.name }}?Subject={{ email.subject|reply_subject|urlencode }}&amp;In-Reply-To=&lt;{{ email.message_id|urlencode }}&gt;">
            <i class="fa fa-reply"></i>
            {% trans "Reply" %}
        </a>
        {% endif %}

        <!-- Attachments -->
        {% if not unfolded and email.attachments.count %}
        <div class="attachments dropdown">
            <a class="attachments" data-toggle="dropdown" href="#">
                {% blocktrans count attachments=email.attachments.count %}
                {{ email.attachments.count }} attachment
                {% plural %}
                {{ email.attachments.count }} attachments
                {% endblocktrans %}
                <span class="caret"></span>
                <!-- <i class="fa fa-caret-right"></i> -->
            </a>
            <ul class="attachments-list list-unstyled dropdown-menu">
            {% for attachment in email.attachments.all %}
                <li><a href="{% url 'hk_message_attachment' mlist_fqdn=email.mailinglist.name message_id_hash=email.message_id_hash counter=attachment.counter filename=attachment.name %}"
                        title="{{attachment.content_type|escape}}, {{attachment.size|filesizeformat}}"
                        >{{attachment.name}}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        <!-- Reply form -->
        {% if user.is_authenticated %}
        <div class="reply-form dropdown">
            <form method="post" enctype="multipart/form-data"
                  action="{% url 'hk_message_reply' mlist_fqdn=email.mailinglist.name message_id_hash=email.message_id_hash %}">
                {% csrf_token %}
                <ul class="list-inline reply-tools">
                    <li><a class="btn btn-sm btn-default quote" href="#">{% trans "Quote" %}</a></li>
                    <li class="checkbox"><label>{{ reply_form.newthread }} {% trans "Create new thread" %}</label></li>
                    <li><a class="btn btn-sm btn-default reply-mailto"
                       href="mailto:{{ email.mailinglist.name }}?Subject={{ email.subject|reply_subject|urlencode }}&amp;In-Reply-To=&lt;{{ email.message_id|urlencode }}&gt;"
                       >{% trans 'Use email software' %}</a></li>
                </ul>
                {{ reply_form.non_field_errors }}

                <p class="new-subject">{{ reply_form.subject }} {{ reply_form.subject.errors}}</p>
                <p class="message-text">{{ reply_form.message }} {{ reply_form.message.errors}}</p>

                {% include "hyperkitty/fragments/send_as.html" with form=reply_form %}

                <p class="buttons">
                    <button type="submit" class="submit btn btn-primary">{% trans "Send" %}</button>
                    {% trans "or" %} <a class="cancel" href="#">{% trans "cancel" %}</a>
                </p>
            </form>
        </div>
        {% endif %}
    </div>
</div>
